	<footer class="container-fluid bg-dark text-center">
		<p class="mb-0" style="color: white">&copy; Coffee Critic 2019</p>
	</footer>
	
	

	<script src="/js/jquery-3.3.1.min.js" type="text/javascript"></script>
	<script src="/js/popper.min.js" type="text/javascript"></script>
	<script src="/js/bootstrap.min.js" type="text/javascript"></script>
	
	</body>
</html>