<% include ./partials/header %> 

<h1>Login!</h1>
<form action="/login" method="POST">
    <div class="form-group">
        <input type="text" name="username" placeholder="username" class="form-control">
        <input type="password" name="password" placeholder="password" class="form-control">
        <input type="submit" value="Login!" class="btn btn-primary">
    </div>
</form>

<% include ./partials/footer %>