

body {
	background: #f4f4f4;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
	width: 100%;
}

.bg-dark {
	background-color: #452500!important;
}

#header-fluid-container {
	background: 
		radial-gradient(
			rgba(40, 40, 40, 0.5),
			rgba(60, 60, 60, 0.8)
		),
		url('https://images.unsplash.com/photo-1524350876685-274059332603?ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80');
	background-size: cover;
	background-position: center;
	min-height: 60vh;
	color: white;
}

.header-title {
	font-size: 4rem;
	font-weight: 800;
	padding-top: 2.5rem;
}



.header-text {
	font-size: 1.5rem;
	
}

.header-search {
	padding-bottom: 2rem;
}

.header-search>input[type=text] {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: none;
	border-radius: 7px 0px 0px 7px;
	width: 80%;
	padding: 3px;
	
}
.header-search>button[type=submit] {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	border-left: none;
	border-radius: 0px 7px 7px 0px;
	width: 20%;
	background-color: #909090;
}

@media (min-width: 768px) {
	.header-title {
		padding-top: 8rem;
	}
	.header-text {
		width: 20rem;
		margin: 0 auto 1rem;
	}
	.header-search>input[type=text] {
		width: 40%;
	}
	.header-search>button[type=submit] {
		width: 10%;
	}
}

.section-padding {
	padding-top: 68px;
}
.heading-hr {
	width: 80%;
	border: 1.5px solid black;
	margin-bottom: 50px;
}
.carousel-title-custom {
	font-size: 2rem;
	font-weight: 800;
}

.section-heading {
	font-size: 2.5rem;
	font-weight: 800;
}
.img-tint {
	opacity: 0.3;
}
#featured-carousel {
	background-color: #505050;
}

#local-listings {

}

#local-listings .card-title {
	font-weight: 800;
}



.card-container {
	columns: 200px 2;
	-webkit-columns: 200px 2;
	-moz-columns: 200px 2;
	column-gap: 2rem;
	-webkit-column-gap: 2rem;
	-moz-column-gap: 2rem;
	column-fill: balance;
	-moz-column-fill: balance;
}

.card-container-index {
	columns: 300px 3;
	-webkit-columns: 300px 3;
	-moz-columns: 300px 3;
	column-gap: 2rem;
	-webkit-column-gap: 2rem;
	-moz-column-gap: 2rem;
	column-fill: balance;
	-moz-column-fill: balance;
}

.show-image-top {
	padding-top: 25px;
	margin-bottom: 25px;
}

.card {
	margin-bottom: 2rem;
}


#map {
	height: 250px;
	width: 100%;
	background-color: grey;
}

#same-page-review>div.form-group>label {
	font-weight: 600;
}