<!----->
<!-- Markup for /shops -->
<!----->


<% include ../partials/header %> 

 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome To Coffee Critic!</h1>
             <p>View our hand-picked campgrounds from all over the world</p>
             <p>
                <a class="btn btn-primary btn-large" href="/shops/new">Add New Coffee Shop</a>
             </p>
         </div>
     </header>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% shops.forEach(function(shop){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= shop.image %>">
                   <div class="caption">
                       <h4><%= shop.name %></h4>
                   </div>
                   <p>
                       <a href="/shops/<%= shop._id %>" class="btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>
