<!----->
<!-- Markup for /shops -->
<!----->


<% include ../partials/header %> 

 <div class="container">
     <header class="jumbotron text-center">
         <div class="container">
             <h1>Welcome To Coffee Critic!</h1>
             <p>View our hand-picked campgrounds from all over the world</p>
             <p>
                <a class="btn btn-primary btn-large" href="/shops/new">Add New Coffee Shop</a>
             </p>
         </div>
     </header>
     
     <!-- <div class="row text-center" style="display:flex; flex-wrap: wrap;"> -->
    <div class="row">
      
      <% shops.forEach(function(shop){ %>
        <div class="col-4">
          <div class="card text-center">
            <img src="<%= shop.image %>" class="card-img-top">
            <h3 class="card-title"><%= shop.name %></h3>
            <a class="btn btn-sm btn-primary mx-auto" href="/shops/<%=shop._id%>">More Info</a>
          </div>
        </div>
      
      <% }); %>
    
    </div>
</div>

<% include ../partials/footer %>
