<!-- ============================== -->
<!-- EJS Markup for new coffee shop -->
<!-- ============================== -->
<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Create a New Coffee Shop</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/shops" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="image url">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="description" placeholder="description">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="street" placeholder="street">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="city" placeholder="city">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="state" placeholder="state">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="zip" placeholder="zip">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" step="0.001" name="metalat" placeholder="lat">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" step="0.001" name="metalng" placeholder="lng">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="rating" placeholder="rating">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="menu" placeholder="menu link">
                </div>

                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
                
            </form>
            <a href="/shops">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>

